<!doctype html>
<head>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.css"></link>
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap-theme.css.map"></link>
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.css.map"></link>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato|Muli" rel="stylesheet">
    <script src="static/bootstrap/js/bootstrap.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var jumboHeight = $('.jumbotron').outerHeight();
        function parallax(){
            var scrolled = $(window).scrollTop();
            $('.bg').css('height', (jumboHeight-scrolled) + 'px');
        }

        $(window).scroll(function(e){
            parallax();
        });
    </script>


    <title>lathrop.io</title>
</head>


<body>

    <div class="container outer-container">
        <div class="name-heading container">
            <h2>carter lathrop</h2>
        </div>

        <div class="container top-container col-lg-6 col-md-6">
            <h4 class="sub-header heading-gray">about</h4>
            <p class="about-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="container contact-block col-lg-6 col-md-6">
            <h4 class="sub-header heading-gray">connect</h4>
            <p><a href="mailto:carter.lathrop@gmail.com" target="_top">email.</a></p>
            <p><a href="https://www.linkedin.com/in/carterlathrop">linkedin.</a></p>
            <p><a href="https://github.com/clathrop">github.</a></p>
        </div>

        <div class="container">
            <p class="heading-gray">projects</p>
        </div>
</div>


    </div>


<!-- Main jumbotron for a primary marketing message or call to action -->    
    <!--<div class="header-image">-->
<!--     <img class="header-image img-responsive" src="/static/bay-bridge.png" alt="Bay Bridge"/> 
 -->


</body>

