<!doctype html>
<html>
<head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.css"></link>
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap-theme.css.map"></link>
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.css.map"></link>
    <link rel=stylesheet type=text/css href="static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Muli" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Asap|Source+Sans+Pro:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
    <script src="static/bootstrap/js/bootstrap.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <title>lathrop.io</title>
</head>

<body>

<div class="wrapper">
	<div class="blurb-container">
		<h1 class="name">Carter Lathrop</h1>
		<h4 class="titles sub-heading">Developer - Builder - Traveler</h4>
		<p class="blurb sub-heading">I build things for the world, both digital and physical.</p>
		<a href="mailto:carter.lathrop@gmail.com" target="_blank"><span class="icon icon-envelope"></span></a>
		<a href="https://www.linkedin.com/in/carterlathrop" target="_blank"><span class="icon icon-social-linkedin"></span></a>
        <a href="https://github.com/clathrop" target="_blank"><span class="icon icon-social-github"></span></a>
		<a href="https://www.instagram.com/cyurter" target="_blank"><span class="icon icon-social-instagram"></span></a>
		<a href="https://www.facebook.com/carter.lathrop" target="_blank"><span class="icon icon-social-facebook"></span></a>
		<a href="https://soundcloud.com/cyurter" target="_blank"><span class="icon icon-social-soundcloud"></span></a>
	</div>	
</div>

</body>
</html>
