<!doctype html>
<head>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.css"></link>
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap-theme.css.map"></link>
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.css.map"></link>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato|Muli" rel="stylesheet">
    <script src="static/bootstrap/js/bootstrap.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <title>lathrop.io</title>
</head>

<body>

    <div class="container outer-container">
        <div class="name-header container">
            <div class="image-and-name-container col-md-6 col-lg-6">
                <div class="prof-pic-container">
                    <img src="/static/branch-profile-pic.png" alt="Me in a tree" class="profile-pic">
                </div>
            </div>
            <div class="col-md-6 col-lg-6 container">
                    <h2 class="name">Carter Lathrop</h2>
                    <h2 class="sub-header triple-title heading-gray">software developer. builder. adventurer.</h2>
                    <div class="contact-block">
                        <h4 class="sub-header heading-gray">connect</h4>
                        <ul>
                            <li><p><a href="mailto:carter.lathrop@gmail.com" target="_top">email.</a></p></li>
                            <li><p><a href="https://www.linkedin.com/in/carterlathrop">linkedin.</a></p></li>
                            <li><p><a href="https://github.com/clathrop">github.</a></p></li>
                            <li><p><a href="https://www.facebook.com/carter.lathrop">facebook.</a></p></li>
                            <li><p><a href="https://www.instagram.com/cyurter">instagram.</a></p></li>
                            <li><p><a href="https://soundcloud.com/cyurter">soundcloud.</a></p></li>
                        </ul>
                    </div>
                <h4 class="sub-header heading-gray">about</h4>
                <p class="about-block">I'm fueled by coffee and inspired by good design, I live and work in San Francsico as a professional software developer. I have a passion and enthusiasm for web projects and delivering products that make me proud of what I do. I love to build things, digital or physical and I'm open to working and collaborating on all types of projects and events, artistic, digital, social, or otherwise, shoot me an email or connect with me!</p>
        </div>
    </div>

        <div class="container top-container col-lg-12 col-md-12">
        
        <div class="projects-container">
            <p class="heading-gray">projects & clients</p>
            <div class="logo-container col-lg-2 col-md-3">
                <img class="logo-img" src="/static/salesforce-logo.png" alt="Salesforce" height="75" width="119">
            </div>
            <div class="logo-container col-lg-2 col-md-3">
                <img class="logo-img" src="/static/levis-logo.png" alt="Levis" height="75" width="150">
            </div>
            <div class="logo-container col-lg-2 col-md-3">
                <img class="logo-img" src="/static/wells-fargo-logo.png" alt="Wells Fargo" height="75" width="75">
            </div>
            <div class="logo-container col-lg-2 col-md-3">
                <img class="logo-img" src="/static/vistage-logo.png" alt="Vistage" height="75" width="75">
            </div>   
        </div>
        </div>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->    
    <!--<div class="header-image">-->
<!--     <img class="header-image img-responsive" src="/static/bay-bridge.png" alt="Bay Bridge"/> 
 -->


</body>

